'fileTypes' : [
  'osls'
]
'name' : 'LineScript'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.LineScript'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'begin' : '(// ->)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment punctuation.LineScript'
          }
        }
        'contentName' : 'comment punctuation.LineScript'
        'end' : '($)'
        'endCaptures' : {
          '1' : {
            'name' : 'comment punctuation.LineScript'
          }
        }
      }
      {
        'match' : '(->)'
        'name' : 'keyword.operator.LineScript'
      }
      {
        'match' : '(?<=^)(.*?)(?=->)'
        'name' : 'entity.name.function.LineScript'
      }
      {
        'match' : '(?<=^)(.*?)(?=$)'
        'name' : 'entity.name.function.LineScript'
      }
      {
        'match' : '(?<=->)(.*?)(?=->)'
        'name' : 'entity.name.type.LineScript'
      }
      {
        'match' : '(?<=->)(.*$)(?=$)'
        'name' : 'text.LineScript'
      }
    ]
  }
  'main__1' : {
    'patterns' : [
    ]
  }
}
